@model StartMeet.Models.ViewModels.MultipleAccountSettingsModel

<!-- User navigation menu -->
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-info row">
        <a class="navbar-brand col col-1 p-2" asp-action="Index"><h4 class="text-white">StartMeet</h4></a>
        <input class="nav-item form-control col-3 m-2" type="text" placeholder="Search"/>
        <ul class="navbar-nav col ml-5">
            <li class="nav-item p-2">
                <a class="nav-link" asp-action="Index">Home</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link " href="#">Friends</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="#">Notifications</a>
            </li>
        </ul>
        <a class="nav-item p-2"></a>
        <!-- Dropdown -->
        <div class="nav-item p-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a class="dropdown-item" asp-controller="UserHome" asp-action="Logout">Log Out</a>
                }
            </div>
        </div>
    </nav>




